In [1]:
import pandas as pd

In [2]:
dataset = "runtime.log"

In [3]:
data = pd.read_csv(dataset, sep='  ', header=None)

/home/amidsilence/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [4]:
data

,0,1,2,3,4,5,6,7,8,9,...,25549,25550,25551,25552,25553,25554,25555,25556,25557,25558
0,0,0,0,0,0,0,0,0,0,0,...,1001,1001,1001,1001,1001,1001,1001,1001,1001,1003
1,0,1,5,6,17,18,64,73,74,88,...,2,4,6,193,194,803,826,832,990,258
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,0,1,1,1,1,0,1,1,1,...,1,1,1,0,0,0,1,0,0,1

In [9]:
(1.0- 12.0/44.0)/44

0.01652892561983471