In [1]:
import pandas as pd

In [5]:
dataset = "runtime.log"

In [6]:
data = pd.read_csv(data, sep='  ', )

/home/amidsilence/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [7]:
data

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,1001,1001.1,1001.2,1001.3,1001.4,1001.5,1001.6,1001.7,1001.8,1003
0,0,1,5,6,17,18,64,73,74,88,...,2,4,6,193,194,803,826,832,990,258
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,0,1,1,1,1,0,1,1,1,...,1,1,1,0,0,0,1,0,0,1